<!DOCTYPE html>
<html ng-app='demoApp' ng-controller='demoAppController' ng-init='login()'>
  <head>
    <title>Demo App</title>
    <!-- openmrs favicon -->
    <link rel="shortcut icon" type="image/ico" href="../../images/openmrs-favicon.ico"/>
    <link rel="icon" type="image/png" href="../../images/openmrs-favicon.png"/>
  </head>
  <body>
    <header>
      <div class="logo">
          <a href="../../">
              <img src="img/openmrs-with-title-small.png"/>
          </a>
      </div>
      <span class="app-title">Demo App</span>
    </header>
    <div class="clear"></div>
    <div id="body-wrapper">
      <div class="instructions"> Welcome to my App
      <p>
      <div>Search patient: <input type='text' ng-model='patientSearch' ng-change="search()"></div>
      <br/>
      <div ng-repeat='pl in patientList'>{{pl.display}}</div>
    </p>
      </div>
    </div>


  </body>
</html>
